* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 10px 0px 10px 5px
}

figure {
    margin-left: 50px;
}

figure img {
    width: 70%;
}

h2 {
    margin: 10px 10px;
}

ul {
    margin-left: 50px;
}

ol {
    margin-left: 50px;
}

p {
    margin-left: 10px;
    line-height: 30px;
}